*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
    font-family: 'Poppins';
}
.menu h1{
	color:red;
} 
.menu p{
	color:#fff;
	font-size:80px;
} 
.content1 p{
	color:#fff;
	font-size:30px;
}
.service1{
	width:85%;
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin:75px;
	text-align:center;
}
.card{
	width:100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-direction:column;
	margin:0px 20px;
	padding:20px 20px;
	background-color:#efefef;
	border-radius:10px;
	cursor:pointer;
}
.card .icon{
	font-size:28px;
	margin-bottom:10px;
}
.card h2{
	font-size:28px;
	color:red;
	margin-bottom:20px;
}
.card p{
	font-size:17px;
	margin-bottom:30px;
	line-height:1.5;
	color:#5e5e5e;
}
.card li a{
	font-size:17px;
	margin-bottom:30px;
	line-height:1.5;
	color:#5e5e5e;
}
.button{
	font-size:15px;
	text-decoration:none;
	color:#000;
	padding:8px 12px;
	border-radius:5px;
	letter-spacing:1px;
}
.button:hover{
	background-color:#c94f4f;
	transition:0.4s ease;
}
@media screen and(max-width:940px)
{
.service1{
	display:flex;
flex-direction:column;	
	}
	.card{
		width:85%;
		display:flex;
		margin:20px 0px;
	}
}
p{
	color:#fff;
	font-size:30px;
}
.service2{
	width:85%;
	justify-content:space-between;
	align-items:center;
	margin:75px;
	text-align:center;
}